.p4{
    background-color: rgb(226, 132, 255)
}

.pa4{
    text-align: center;
    padding-top: 50px;
    font-size: 70px;
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(86, 39, 255);
}

.perd{
    text-align:center;
    font-size: 50px;
    margin-top: 100px;
    color:rgb(120, 14, 141);
}

.ma{
    text-align: center;
    font-size: 45px;
    margin-top: 120px;
    color:rgb(76, 79, 255);
}

.si2{
    text-align: center;
    margin-left: 450px;
    font-size: 50px;
    border-radius: 50px;
    width: 100px;
    height: 75px;
    background-color: rgb(168, 31, 31);
    color:rgb(93, 180, 252);
}